[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pkgs.dev.azure.com/ypma-data/dl-light/_packaging/dl-light/pypi/simple/"
verify_ssl = true
name = "pkgsdevazure"

[packages]
aws-cdk-lib = "*"
constructs = "*"
dynaconf = "*"
artifacts-keyring = "*"
dl-light-infra = {version = "==0.0.10", index = "pkgsdevazure"}

[dev-packages]
pytest = "*"
boto3 = "*"
build = "*"
black = "*"
flake8 = "*"
mypy = "*"
docker = "*"

[requires]
python_version = "3.9"
